<div class="banner">
  <%= link_to image_tag("/images/002.jpg"), "/ranking" %>
  <%= link_to image_tag("/images/battery.jpg"), "#{products_path}?taxon=1" %>
  <div class="banner-left">
    <!-- <%= link_to image_tag("/images/01.jpg"), "#{products_path}?taxon=35" %>
     !-- <div class="desc">
     !--   発売以来大好評！LEDヘッドライト<br>
     !--   直流点灯だけでなく、交流店頭にも対応した新世代LEDヘッドライト【RAYD】が登場です。
     !-- </div>
     !-- <%= image_tag "/images/02.jpg" %>
     !-- <div class="desc">
     !--   グラスプロテック Ver.2 究極ボディーコーティング剤
     !-- </div>
     !-- <%= link_to image_tag("/images/03.jpg"), "/t/hondachun-zheng-patu/dio-af62-slash-68" %>
     !-- <div class="desc">
     !--   ライブディオパーツ値下げ！
     !-- </div> -->
  </div>
  <div class="banner-right">
    <!-- <%= link_to image_tag("/images/04.jpg"), "#{products_path}?taxon=241" %>
     !-- <%= link_to image_tag("/images/05.jpg"), "/t/suzukichun-zheng-patu/adoresuv125-slash-g-slash-s" %>
     !-- <%= link_to image_tag("/images/06.jpg"), "/t/kasutamupatu/zumax-jf52" %>
     !-- <%= link_to image_tag("/images/07.jpg"), "/t/yamahachun-zheng-patu/sigunasux-se12j" %> -->
  </div>
</div>

<div class="clear"></div>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products">
  <% begin %>
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
  <% rescue %>
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>
